section {
  padding: 5rem 0;
  color: #fff;
}

body {
  background-color: #333;
}

#logo1 {
  max-width: 11rem;
  max-height: 11rem;
  width: auto;
  height: auto;
  margin-left: 0.938rem;
}

.collapse {
  flex-direction: column;
  flex-wrap: wrap;
  align-content: end;
}

.ativado {
  text-decoration: underline !important;
  color: #000 !important;
}

.nav-link:hover:not(ativado) {
  text-decoration: underline !important;
  color: #000 !important;
}

.nav-item {
  font-size: 1.3rem !important;
  padding: 0 0.3rem !important;
}

.navbar {
  background-color: #fff !important;
}

/*dropdown*/
.btnsusp {
  background-color: #fff !important;
  padding: 0.5rem !important;
  font-size: 1rem !important;
  border: none !important;
  font-size: 1.3rem !important;
}

.suspenso {
  position: relative !important;
  display: inline-block !important;
}

.conteudo-suspenso {
  display: none !important;
  position: absolute !important;
  background-color: #fff !important;
  min-width: 16.2rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2) !important;
  z-index: 1 !important;
}

.conteudo-suspenso a {
  color: #000000a6;
  padding: 0.75rem 1rem !important;
  text-decoration: none;
  display: block !important;
  font-size: 1.1rem !important;
}

.conteudo-suspenso a:hover {
  text-decoration: underline !important;
  color: #000 !important;
}

.suspenso:hover .conteudo-suspenso {
  display: block !important;
}

.suspenso:hover .btnsusp {
  text-decoration: underline !important;
}

.cs-ativado {
  text-decoration: underline !important;
  color: #000 !important;
}

/*Footer*/
footer p {
  font-size: 1.063rem;
  font-weight: bold;
}
