.logo4-red {
    max-width: 30rem !important;
    max-height: 30rem !important;
    width: auto !important;
    height: auto !important;
    padding: 2rem 0 0 6.25rem;
}

.footer-content {
    padding-top: 2rem;
    font-size: 2rem;
    color: #000;
}

.footer-bg {
    background-color: #ff3333 !important;
}

#cfaf {
    text-align: center;
    font-size: 1rem;
    color: #000;
    font-weight: bold;
}