
.local1 {
    width: auto;
    height: auto;
    max-width: 20.5rem;
    max-height: 20.5rem;
    margin-left: 1.2rem;
    border-radius: 1rem;
    border: 0.125rem solid red;
}

.local4 {
    width: auto;
    height: auto;
    max-width: 20.5rem;
    max-height: 20.5rem;
    margin-left: 1.2rem;
    border-radius: 1rem;
    border: 0.125rem solid red;
}

.local5 {
    width: auto;
    height: auto;
    max-width: 20.5rem;
    max-height: 20.5rem;
    margin-left: 1.2rem;
    border-radius: 1rem;
    border: 0.125rem solid red;
}

.local6 {
    width: auto;
    height: auto;
    max-width: 20.5rem;
    max-height: 20.5rem;
    margin-left: 1.2rem;
    border-radius: 1rem;
    border: 0.125rem solid red;
}

.img{
    padding: 2%;
}


.texto {
    color: #ffffff;
    font-size: 1.065rem;
}

#btn {
    background-color: #ff3333;
    font-size: 2rem;
    margin: 0rem 0;
    position: relative ;
    left: 17rem;
    width: 10rem;
    height: 5rem;
    border: 0.125rem solid #000;
    border-radius: 1rem;
}

.titulo {
    text-align: center;
    color: #ffffff;
    margin: 2rem 0;
}

.row{
    padding: 5%;
    }

.iframe{
    padding: 2%;
    padding-top: 25%;
    padding-left: 8%;
    
}



.formtextarea{
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    s  
}
   