td {
    font-weight: bold;
    /*background-color: #EEE;*/
    padding-left: 1.5rem !important;
    padding-top: 1.5rem !important;
    /*background-color: rgb(37, 37, 37) !important;*/
    /*border: ;*/

}

table {
    width: 100%;
    height: 20%;
    table-layout: fixed;
    text-align: center;
    color: white;

}

section {
    background-color: #333;
    padding: 5rem 0;
}

.row {
    color: white;
    text-align: justify;

}

.col-sm {
    border: 1px solid white;
    font-size: large;
    text-justify: auto;
    padding-left: 1.0rem;
    height: rem;
    
}

.card {
    background-color: #333;
    color: white;
    text-align: center;
    border: 2px solid white;
}

.card div {
    height: 35rem;
}